# Use forward slashes "/" in paths for compatibility across platforms
# IMPORTANT: Remove the comments after the values so they don't interfere with parsing
LOG_LEVEL="DEBUG" # Set the log level. Options: DEBUG, INFO, WARNING, ERROR, CRITICAL (only DEBUG implemented atm)
FORCE_DOWNLOAD="False" # Set to "True" to force re-download of the latest manifest even if it already exists locally. If true and a previous installation is here, it will simply update the installation. Set to "False" to skip downloading if the latest manifest is already present.
STEAM_USERNAME="xyz" # Your Steam username for DepotDownloader authentication.
STEAM_PASSWORD="xyz" # Your Steam password for DepotDownloader authentication.
STEAM_GAME_DOWNLOAD_PATH="C:/WRFrontiersDB/SteamDownload" # Path where the game will be downloaded by DepotDownloader. Ensure it exists. A prior version can exist here if not corrupted and it will be updated to latest version.
SHIPPING_CMD_PATH="C:/Steam/steamapps/common/WRFrontiers/13_2017027/WRFrontiers/Binaries/Win64/WRFrontiers-Win64-Shipping.exe" # Path to the game's Shipping executable. Ensure it exists.
DUMPER7_OUTPUT_DIR="C:/Dumper-7" # Path to Dumper-7's output folder. If your not sure where this path is for you, it is likely this default path. You can confirm by running src/mapper/get_mapper.py, letting it error, then looking for the directory. Ensure it exists. Content will be cleared before mapper is created so that the created mapper can be located properly.
OUTPUT_MAPPER_PATH="C:/WRFrontiersDB/mapper.usmap" # Where the generated mapper file will be saved as. Ensure the parent dirs exists.
OUTPUT_DATA_DIR="C:/WRFrontiersDB/ExportData" # Path to the where the output JSON will be saved. This should point to the "WRFrontiers\Content" folder that contains all json files of the game. Ensure it exists. When using BatchExport, it will wipe its contents before generating these files.